* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4e5340;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#top_nav {
    background-color: #95a3a4;
    color: #4e5340;
    border-width: 0px 0px 5px 0px;
    border-color: #4E5340;
    animation-name: fade_out;
    animation-delay: -0.2s;
    animation-iteration-count: 1;
    animation-duration: 2s;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    z-index: 10;
}

.container {
    height: 100%;
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 0%;

}


.wrapper {
    height: auto;
    width: 100%;
    margin-bottom: 0px;
    background-color: white;
    margin: auto;
    padding: 0%;
    overflow: auto;
}

/*cards styling*/

.card {
    height: auto;
    z-index: 0;
    width: 100%;
    margin: auto;
    background-color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_left {
    float: left;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-color: white;
    margin-left: 20px;
}

.card_right {
    float: right;
    width: 65%;
    margin-top: 20px;
}

.works {
    width: 100%;
    margin-left: 10 px;
    margin-top: 40 px;
}

.text
{
    width: 60%; 
    margin-left: 10px;
}

.heading
{
    margin-left: 10px;
}



/*line*/
.line {
    background-color: rgb(196, 219, 240);
    width: auto;
    height: 2px;
}

/* sticky */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: aliceblue;
    z-index: 10;
    border: 2px solid rgb(196, 219, 240);
}

/* side nav bar (animaated) */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}